@{
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div class="quote">
                  
        </div><div class="quote">
                  
        </div><div class="quote">
                  
        </div><div class="quote">
                  
        </div><div class="quote">
                  
        </div>
    </body>
</html>